html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit
    margin: 0
    padding: 0

*:focus, *:active
    outline: none
////////////////////////////

header
    text-align: center

body
    width: 100%
    main
        form
            display: flex
            justify-content: center
            margin: 0 auto
            width: 80%
            input
                display: inline-block
                height: 40px
                font-size: 30px
            input[type=text]
                width: 60%
            input[type=submit]
                margin: 0 0 0 20px
                width: 15%
        #result_container
            display: flex
            justify-content: space-between
            padding: 30px
            #photos_container
                width: 65%
                column-count: 4
            #keywords_container
                min-width: 20%
                ul
                    li
                        list-style: none
                        a
                            text-decoration: none